name: git push into another repo to deploy to vercel

on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to fork
        run: |
          git remote add fork https://x-access-token:${{ secrets.AUTO_SYNK }}@github.com/rtttr1/dash-client.git
          git push fork main
